<template>
  <div>
    <a :href="values.feedbackFormLink" target="_blank">{{ labels.feedbackForm }}</a>
  </div>
</template>

<script>
export default {
  name: 'linkbar'
}
</script>
<style scoped>
  a {
    margin-right: 4px;
  };
</style>
