<template>
  <div class="card large-card">
  <h1 class="test"></h1>
    <div class="card-title">
      <h2>{{ labels.summary + values.numeration }}
        <template v-if="isUserLoggedCoordinator"> de {{values.user_id}} </template> </h2>
    </div>
    <subject-summary-solicitude :labels="labels"
                                :values="values"
                                :owner="owner"
                                :organization="organization"
                                :warningEmployees="warningEmployees">
    </subject-summary-solicitude>
    <template v-if="hasSubjects">
      <subject-cards-list :labels="labels" :values="values" :owner="owner" :isUserLoggedCoordinator="isUserLoggedCoordinator" :organization="organization" :download-url="downloadUrl"></subject-cards-list>
    </template>

    <template v-if="owner && organization">
      <div v-if="buttonsPresent">
        <div class="button-inline">
          <button
            id='edit-button'
            type="button"
            name="button"
            v-on:click='solicitudeEdit()'>
            {{ labels.edit }}
          </button>
        </div>
        <button-add-subject
          id="add-subject-button"
          :label="labels.addSubject"
          eventName="clicked.add.subject"
        ></button-add-subject>
      </div>
    </template>
  </div>
</template>
<script>
import SummarySolicitudeView from './solicitude/subject/subject-summary-solicitude'
import CustomButton from './custom-button'
import SubjectCardsListView from './solicitude/subject/subject-cards-list'
import { Bus } from '../bus'

export default {
  name: 'show-solicitude',
  components: {
    "subject-summary-solicitude" : SummarySolicitudeView,
    "button-add-subject" : CustomButton,
    "subject-cards-list" : SubjectCardsListView
  },

  created() {
    Bus.publish('show-solicitude.created', this.$route.params.id)
  },

  destroyed() {
    Bus.publish('show-solicitude.destroyed')
  },

  methods: {
    solicitudeEdit(){
      Bus.publish('solicitude.edit.clicked')
    }
  }
}
</script>
