<template>
  <div id="solicitudes-list">
    <div class="card-title">
      <h3>{{ labels.show }}</h3>
      <basic-select id="select-list"
                    :options="listOptions"
                    :selected-option="values.selectedList"
                    @select="onSelect"
                    v-model="values.selectedList"
                    >
      </basic-select>
    </div>
    <div class="card-title">
      <h2>{{ showSelectedOptionTitle() }}:</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>{{ labels.code }}</th>
          <th>{{ labels.owner }}</th>
          <th>{{ labels.date }}</th>
          <th>{{ labels.applicant }}</th>
          <th>{{ labels.company }}</th>
          <th>{{ labels.subjects }}</th>
          <th>{{ labels.feprl }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in solicitudes">
          <td>
            <template v-if="item.numeration =='' ">{{ labels.notApply }}</template>
            <template v-else>{{ item.numeration }}</template>
            <template v-if="item.shared_origin">
              <i id="shared"
                :title='labels.shared'
                class="fa fa-share-alt"></i>
            </template>
          </td>
          <template v-if="item.showOwner">
            <td>{{item.user.user_id}}</td>
          </template>
          <template v-else>
            <td>-</td>
          </template>
          <td>{{ item.date | es }}</td>
          <td>
            <template v-if=" item.name =='' && item.surname =='' ">{{ labels.notApply }}</template>
            <template v-else>{{ item.name }} {{ item.surname }}</template>
          </td>
          <td>
            <template v-if=" item.company_name == undefined || item.company_name == '' ">{{ labels.notApply }}</template>
            <template v-else>{{ item.company_name }}</template>
          </td>
          <td>
            <template v-if="item.subjects">
              <label :title='item.titleForJustifiedSubjects'>
                {{ item.justifiedSubjects }}/{{ item.subjects.length }}
              </label>
            </template>
              <template v-else>
                <label :title='labels.titleWithoutSubject'>
                  {{ labels.zeroSubjects }}
                </label>
              </template>
          </td>

          <td>
            <template v-if="item.owner">
              <template v-if="item.justifiedSolicitude">
                <i id="check" class="fa fa-check fa-2"></i>
              </template>
            </template>
          </td>
          <td>
            <a class="solicitude-show-button"
               target="_blank"
               v-on:click='showSolicitude(item.creation_moment)'>
               {{ labels.show }}
            </a>
          </td>
          <td>
            <a class="solicitude-edit-button"
               target="_blank"
               v-on:click='solicitudeEdit(item.creation_moment)'
               v-if="item.owner"
               >
               {{ labels.edit }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import { BasicSelect } from 'vue-search-select'
  import { Bus } from '../bus'

  export default {
    name: 'asesora-solicitudes-list',
    filters: {
      es: function (date_en) {
        if (date_en === undefined) { return date_en }
        const date_parts = date_en.split('-')
        return date_parts.reverse().join('/')
      }
    },

    components: {
      BasicSelect
    },

    created () {
      Bus.publish("solicitudes-list.view.created")
    },

    methods: {
      solicitudeEdit(id) {
        Bus.publish('load.solicitude', { detail: id })
      },

      showSolicitude(id) {
        Bus.publish('show.solicitude', { detail: id })
      },

      onSelect (item) {
        this.values.selectedList = item
        Bus.publish('filter.solicitudes')
      },

      reset () {
        this.item = {}
      },

      selectOption () {
        this.item = this.options[0]
      },

      showSelectedOptionTitle(){
        return this.values.selectedList.text
      }
    }
  }
</script>
<style scoped>
#check {
  color: #35cebe;
}

#shared {
  color: #35cebe;
}

a {
  cursor: pointer;
  font-weight: bold;
}
label {
  font-weight: normal;
}
.ui.selection.dropdown .menu > .item {
  font-size: 1.5rem !important;
  border-color: #eee !important;
}
.ui.selection.active.dropdown .menu {
  border-color: #eee !important;
}
.ui.selection.active.dropdown:hover {
  border-color: #eee !important;
}
</style>
