<template>
  <div>
    <div class="card-title">
      <h2>{{ labels.title }}</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>{{ labels.project }}</th>
          <th>{{ labels.subjectNumber }}</th>
          <th>{{ labels.subjectDate }}</th>
          <th>{{ labels.ownerName }}</th>
          <th>{{ labels.companyName }}</th>
          <th>{{ labels.topics }}</th>
          <th>{{ labels.register }}</th>
          <th>{{ labels.isJustified }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in subjectsList">
          <td>{{ getValue(item.project.text) }}</td>
          <td>{{ item.subject_id }}</valued>
          <td>{{ item.subjectDate | es }}</td>
          <td>{{ item.ownerName }}</td>
          <td>{{ getValue(item.companyName )}}</td>
          <td> {{ formatedTopics(item.topics) }} </td>
          <td :title='infoRegisterLabels(item.record)'> 
            &nbsp;{{ translateRecord(item.record) }}&nbsp; 
          </td>
          <td>
            <span 
              v-if="item.isSubjectJustified" 
              id="check" 
              class="fa fa-check fa-2" 
              :title="labels.subjectInfoCheck" 
              :alt="labels.subjectInfoCheck"
            ></span>
            <label 
              v-if="item.isSolicitudeJustified"
              class="fa fa-warning"
              :title="labels.subjectInfoWarning"
              :alt="labels.subjectInfoWarning"
            ></label>
          </td>
          <td>
            <input type="checkbox">
          </td>
          <td>
            <a class="solicitude-show-button"
               v-on:click='showSolicitude(item.solicitude_id)'>
               {{ labels.show }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'subjects-list',
  created() {
    this.bus.publish('subjects-lot.view.created')
  },

  filters: {
    es: function (date_en) {
      if (date_en === undefined) { return date_en }
      const date_parts = date_en.split('-')
      return date_parts.reverse().join('/')
    }
  },

  methods: {
    formatedTopics(topics){
      if (topics.length == 0) return "n/a"
      if (topics.length == 1) return topics[0]
      if (topics.length > 1) return topics[0] + " ..."
    },

    translateRecord(record){
      let result = ""
      if (record.analysis != "") result += "A "
      if (record.description != "") result +="D "
      if (record.proposal.length > 0) result +="P"
      return result
    },

    solicitudeEdit(id) {
      this.bus.publish('load.solicitude', { detail: id })
    },

    showSolicitude(id) {
      this.bus.publish('show.solicitude', { detail: id })
    },

    infoRegisterLabels(record) {
      let infoLabels = []
      const recordCodes = this.translateRecord(record)
      if (recordCodes.includes('A')) infoLabels.push(this.labels.registerInfoA)
      if (recordCodes.includes('D')) infoLabels.push(this.labels.registerInfoD)
      if (recordCodes.includes('P')) infoLabels.push(this.labels.registerInfoP)
      if (recordCodes.includes('C')) infoLabels.push(this.labels.registerInfoC)
      return infoLabels.join('\n')
    },

    handleDownloadClick() {
      this.bus.publish('download.clicked')
    },

    getValue(value) {
      return value ? value : this.labels.notApply
    }

  }

}

</script>
<style scoped>
#check {
  color: #35cebe;
}
a {
  cursor: pointer;
  font-weight: bold;
}
label {
  font-weight: normal;
}
input[type=checkbox] {
  transform: scale(1.5);
}
</style>
