<template v-if="emails.length">
  <div id="users-list">
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(email, index) in emails" class="email">
          <td>{{ email }}</td>
          <td>
            <a v-on:click="handleClick(email)" class="remove-user" :id="`user-${index}`">
              {{ labels.remove }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import { Bus } from '../bus'

  export default {
    name: 'users-list',
    props: ['labels', 'emails', 'eventName'],
    methods: {
      handleClick(email) {
        if (window.confirm(this.$props.labels.removeConfirmMessage)){
          Bus.publish(this.eventName, { detail: email })
        }
      }
    }
  }
</script>
<style scoped>
label {
  font-weight: normal;
}
.remove-user {
  cursor: pointer;
  font-weight: bold;
}
</style>
