<template>
  <div>
    <div class="card-title">
      <h2>{{ labels.title }}</h2>
    </div>

    <div class="row grid-responsive">
      <div class="column column-50 box">
        <label>{{ labels.authorizedEmails }}</label>
        <email-field
          :label="labels.email"
          v-model="values.emailNew"
        ></email-field>
        <validation-error
          :text="labels.errorEmail"
          :showError="control.hasError"
        ></validation-error>
        <custom-button
          :label="labels.emailAdd"
          eventName="clicked.email.add.button"
          :isDisabled="!control.isValidEmail"
          id="email-add-button"
        ></custom-button>
        <div class="column column-80 box">
          <users-list :labels="labels"
                      eventName="clicked.remove.user"
                      :emails="values.emails">
          </users-list>
        </div>
      </div>
      <div class="column column-50 box">
        <label>Coordinadores</label>
        <coordinator-email-field
          :label="labels.email"
          v-model="values.coordinatorEmailNew"
        ></coordinator-email-field>
        <validation-error
          :text="labels.errorEmail"
          :showError="control.hasCoordinatorError"
        ></validation-error>
        <custom-button
          :label="labels.emailAdd"
          eventName="clicked.add.coordinator.email"
          :isDisabled="!control.isValidCoordinatorEmail"
          id="email-add-button"
        ></custom-button>
        <div class="column column-80 box">
          <users-list :labels="labels"
                      eventName="clicked.remove.coordinator"
                      :emails="values.coordinatorEmails">
          </users-list>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CoordinatorEmailFieldView from './coordinator-email-field'
  import EmailFieldView from './email-field'
  import ValidationErrorView from './validation-error'
  import UsersListView from './users-list'
  import CustomButtonView from './custom-button'
  import { Bus } from '../bus'

  export default {
    name: 'users-manager',
    components: {
      "email-field": EmailFieldView,
      "coordinator-email-field": CoordinatorEmailFieldView,
      "validation-error": ValidationErrorView,
      "users-list": UsersListView,
      "custom-button": CustomButtonView
    },
    created (){
      Bus.publish('users-manager.created')
    },

    destroyed (){
      Bus.publish('users-manager.destroyed')
    }
  }
</script>
