<template>
<div id="user-info" v-if="values.name || values.imageUrl">
  <span id="user-name">{{ values.name }}</span>
  <img id="user-imageUrl" :src="values.imageUrl" alt="">&nbsp;
</div>

</template>

<script>
export default {
  name: 'user-info',
  props: ['values']
}
</script>

<style scoped>
  img {
    height: 3rem;
    vertical-align: middle;
    border-radius: 1.4rem;
  }
  div {
    margin-top: 1rem;
    float: right;
  }
  span{
    color: white;
    margin-right: 1rem;
    font-size: 1.3rem;
  }
</style>
