<template>
  <div>
    <div id="alert" v-if="showError">
      <div class="background-danger alert">
        <em class="fa fa-times-circle"></em>
        {{ text }}
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'validation-error',
  props: ['text', 'showError']
}
</script>

<style scoped>
  .error {
    border: 1px solid var(--error-color) !important;
  }
</style>
