<template>
  <div id="solicitude">
    <label v-if="values.shared_origin" class="alert-involved">
      <i id="shared"
        :title='labels.shared'
        class="fa fa-share-alt">
      </i>
      {{labels.solicitudeInvolved}}
      <a class="solicitude-show-button"
        target="_blank"
        v-on:click='showSubject(values.shared_origin.solicitude_id)'>
          {{values.shared_origin.numeration}}
      </a>
    </label>
    <solicitude-applicant :values="values"
                       :labels="labels"
                       :isEditionMode="isEditionMode"
                       :is-valid-contact="isValidContact"
                       :suggested-applicants='suggestedApplicants'
                       :is-valid-phone="isValidPhone"
                       :is-valid-email="isValidEmail"
                       :ccaa-catalog="ccaaCatalog"
                       ></solicitude-applicant>
    <div  class="card large-card" >
      <div class="card-title">
        <h2>{{ labels.solicitude + values.numeration }}</h2>
      </div>
      <div class="row grid-responsive">
        <div class="column column-20 box">
          <div class="subtitle-container">
            <div class="subtitle-item">
              <div class="subtitle">
                {{ labels.solicitudeData }}
              </div>
              <div id="date-info" v-if="!isEditionMode">
                {{ labels.noDate }}
              </div>
              <br></br>
              <div class="subtitle">
                {{ labels.sharedData }}
              </div>
              <div>
                {{ labels.sharedDataInfo }}
              </div>
            </div>
          </div>
        </div>
        <div class="column column-80">
          <solicitude-date :values="values"
                        :labels="labels"
                        :edit-solicitude='editSolicitude'
                        ></solicitude-date>
          <solicitude-source-format  :values="values"
                                     :labels="labels"
                                     :source-catalog="sourceCatalog"
                                     >
          </solicitude-source-format>

          <solicitude-another-organization
                                    :values="values"
                                    :labels="labels"
                                    :organizations-catalog="organizationsCatalog"
                                    >
          </solicitude-another-organization>

          <solicitude-text :values="values"
                           :labels="labels"
                           :edit-solicitude='editSolicitude'
                           >
          </solicitude-text>
        </div>
      </div>
    </div>
    <solicitude-company   :values="values"
                          :labels="labels"
                          :suggested-companies="suggestedCompanies"
                          :cnae-catalog="cnaeCatalog"
                          :isEditionMode="isEditionMode"
                          :show-edit-company-button='showEditCompanyButton'
                          :show-updated-employees-value-message='showUpdatedEmployeesValueMessage'
                          :show-updated-name-value-message='showUpdatedNameValueMessage'
                          :is-valid-company-identity="isValidCompanyIdentity"
                          :is-valid-company-name='isValidCompanyName'
                          :is-valid-cif="isValidCif"
                          :is-valid-employees="isValidEmployees"
                          :maxNumberEmployees='maxNumberEmployees'>
    </solicitude-company>

    <template v-if="!isEditionMode">
      <div class="card large-card">
        <subject-solicitude :labels="labels"
                            :values="values"
                            :topics-catalog="topicsCatalog"
                            :proposals-catalog="proposalsCatalog"
                            :isSubmittable="isSubmittable"
                            :edition-subject="editionSubject"
                            :isEditionMode="isEditionMode"
                            :modified-subject-id="modifiedSubjectId"
                            :reasons-catalog="reasonsCatalog"
                            :warning-subject="warningSubject"
                            :projects-catalog="projectsCatalog"
                            :owner="owner"
                            :show-subject-edit-modal="showSubjectEditModal"
                            :download-url="downloadUrl">
        </subject-solicitude>
      </div>
    </template>
    <template v-else>
      <div class="card large-card listed-subjects">
        <subject-list-edition  :labels="labels"
                                :values="values"
                                :topics-catalog="topicsCatalog"
                                :proposals-catalog="proposalsCatalog"
                                :isSubmittable="isSubmittable"
                                :edition-subject="editionSubject"
                                :isEditionMode="isEditionMode"
                                :modified-subject-id="modifiedSubjectId"
                                :reasons-catalog="reasonsCatalog"
                                :warning-subject="warningSubject"
                                :projects-catalog="projectsCatalog"
                                :owner="owner"
                                :show-subject-edit-modal="showSubjectEditModal"
                                :download-url="downloadUrl"
                                :showShareEmail="showShareEmail"
                                :isValidShareEmail="isValidShareEmail"
                                :showCloseSubjectModal="showCloseSubjectModal"
                                >
        </subject-list-edition>

        <button-add-subject
          id="add-subject-button"
          :label="labels.addSubject"
          eventName="clicked.add.subject"
        ></button-add-subject>
      </div>
    </template>
    <div  class="card large-card" >
      <solicitude-button-submit
                      :values="values"
                      :labels="labels"
                      :isEditionMode="isEditionMode"
                      :isCreationMode="isCreationMode"
                      :isSubmittable="isSubmittable"
                      :warning="warning"
                      :requiredIncomplete='requiredIncomplete'>
      </solicitude-button-submit>
      <template v-if="isEditionMode">
        <button-discard
          id="discard"
          :label="labels.editiondiscard"
          eventName="clicked.discard.button"
          :isDisabled="!isSubmittable"
          class="button-clear"
        ></button-discard>
        <button-delete
          id="delete-solicitude"
          :label="labels.deleteSolicitude"
          eventName="clicked.delete.solicitude"
          class="delete"
        ></button-delete>
      </template>
      <label v-if="requiredIncomplete" class="alert-label">
        {{labels.incompleteRecord}}
      </label>
    </div>

    <div class="alert background-success message-hidden ">
      <em class="fa fa-thumbs-up"></em>
      {{ labels.sent }}
    </div>

    <div class="message-sent alert background-success">
      <em class="fa fa-thumbs-up"></em>
      {{ labels.edited }}
    </div>
    <div class="message-error alert background-danger">
      <em class="fa fa-times-circle"></em>
      {{ labels.alertBackgroundDanger }}
    </div>
  </div>
</template>

<script>
import DateView from './solicitude-date'
import ApplicantView from './solicitude-applicant'
import TextView from './solicitude-text'
import CompanyView from './solicitude-company'
import ButtonView from './solicitude-button-submit'
import CustomButtonView from '../custom-button'
import SourceFormatView from './solicitude-source-format'
import AnotherOrganization from './solicitude-another-organization'
import SubjectListEdition from './subject/subject-list-edition'
import SubjectSolicitude from './subject/subject-solicitude'
import { Bus } from '../../bus'

export default {
  name: 'asesora-solicitude',

  components: {
    "solicitude-date" : DateView,
    "solicitude-applicant" : ApplicantView,
    "solicitude-text" : TextView,
    "solicitude-company" : CompanyView,
    "solicitude-button-submit" : ButtonView,
    "button-discard" : CustomButtonView,
    "button-delete" : CustomButtonView,
    "button-add-subject": CustomButtonView,
    "solicitude-source-format" : SourceFormatView,
    "solicitude-another-organization": AnotherOrganization,
    "subject-list-edition": SubjectListEdition,
    "subject-solicitude": SubjectSolicitude
  },

  watch: {
    fullfilled: function(val, oldVal){
      if (val == true){
        this.animateCard()
      }
    },

    fullfilledToAddSubject: function(val, oldVal){
      if (val == true){
        this.hitToSubject()
      }
    },

    '$route': function(){
      Bus.publish('solicitude.route.changed', this.$route.params.id)
    }

  },

  created (){
    Bus.publish('solicitude.created', this.$route.params.id)
  },

  destroyed (){
    Bus.publish('solicitude.destroyed')
  },

  beforeRouteLeave (to, from, next) {
    Bus.publish("ask.unsaved.changes")
    if (!this.$data.hasUnsavedChanges) {
      next(true)
      return
    }
    const isLeaving = window.confirm("Hay cambios sin guardar. ¿Seguro que quieres salir?")
    if (isLeaving) {
      next(true)
      return
    }
    next(false)
  },

  methods: {

    hitToSubject() {
      this.show()
      Bus.publish('fullfilled.solicitude.to.add.subject')
    },

    animateCard() {
      this.show()
      Bus.publish('fullfilled.solicitude')
    },

    show() {
      let message = document.querySelector(".background-success")
      message.classList.remove("message-hidden")
      message.classList.add("messageSent")
    },

    showSubject(id) {
      Bus.publish('show.shared.solicitude', id)
    }
  }
}
</script>

<style scoped>
.message-sent, .message-error {
  margin-bottom: 0;
  margin-top: 1em;
  display: none;
}
</style>
