<template>
  <div  class="card large-card" >
    <div class="card-title">
      <h1 v-if="isEditionMode">{{ labels.editingSolicitude }}{{ values.numeration }}</h1>
      <br></br>
      <h2>{{ labels.applicant }}</h2>
    </div>
    <div class="row grid-responsive">
      <div class="column column-20 box">
        <div class="subtitle-container">
          <div class="subtitle-item">
            <div class="subtitle"></div>
          </div>
          <div class="subtitle-item">
            <div class="subtitle">{{ labels.contactData }}<span>*</span></div>
            <div>
              {{ labels.noContact }}
            </div>
          </div>
        </div>
      </div>
      <div class="column column-40 box">
        <div>
          <label for="name">{{ labels.applicantName }}</label>
          <input  id="name"
          name="name"
          type="text"
          v-on:keyup="refreshSuggestion"
          v-model="values.applicantName"
          >
        </div>
        <div>
          <label for="surname">{{ labels.applicantSurname }}</label>
          <input  id="surname"
          name="surname"
          type="text"
          v-on:keyup="refreshSuggestion"
          v-model="values.applicantSurname"
          >
        </div>
        <applicant-ccaa :labels="labels"
                                :values="values"
                                :ccaa-catalog="ccaaCatalog">
        </applicant-ccaa>
        <applicant-contact :values="values"
        :isEditionMode="isEditionMode"
        :labels="labels"
        :is-valid-contact="isValidContact"
        :is-valid-phone="isValidPhone"
        :is-valid-email='isValidEmail'>
      </applicant-contact>
    </div>

    <div class="column column-40" id="applicant-matches">
      <applicant-matches :values="values"
      :labels="labels"
      :suggested-applicants='suggestedApplicants'>
    </applicant-matches>
  </div>
</div>
</div>

</template>

<script>
import ApplicantContactView from './applicant/applicant-contact'
import ApplicantMatchesView from './applicant/applicant-matches'
import ApplicantCCAAView from './applicant/applicant-ccaa'
import { Bus } from '../../bus'


export default {
  name: 'applicant',

  props: ['labels', 'values', 'isEditionMode', 'isValidContact', 'suggestedApplicants', 'isValidPhone', 'isValidEmail', 'ccaaCatalog'],

  components: {
    "applicant-contact" : ApplicantContactView,
    "applicant-matches" : ApplicantMatchesView,
    "applicant-ccaa":ApplicantCCAAView
  },
  methods: {
    refreshSuggestion() {
      Bus.publish('changed.applicant.fields')
    }
  }
}
</script>
