<template>
    <div>
      <div>
        <label for="date">{{labels.date}}
          <label  v-if="!values.date"
                  class="fa fa-warning"
                  :title="labels.required"
                  :alt="labels.required">
          </label>
        </label>
      </div>
        <input  id="date"
                type="date"
                v-model="values.date"
                v-on:change="handleChange"
                v-bind:required="isEditionMode"
                v-bind:class="{isEditionMode: isEditionMode}">
      <div>
        <label for="time">{{labels.time}}
        </label>
      </div>
        <input  id="time"
                type="time"
                v-model="values.time"
                v-on:change="handleChange"
                v-bind:required="isEditionMode"
                v-bind:class="{isEditionMode: isEditionMode}">
    </div>
</template>
<script>
import { Bus } from '../../bus'

export default {
  name: 'solicitude-date',
  props: ['labels', 'values', 'isEditionMode'],
  computed: {
    mustBeHidden() {
      return (this.isEditionMode || this.values.date)
    }
  },
  methods: {
    handleChange(event){
      Bus.publish('changed.date')
    },
  }
}
</script>
<style scoped>
  input[type="date"], input[type="time"] {
    border: 0.1rem solid var(--light-grey-color);
    border-radius: .4rem;
    box-shadow: none;
    height: 3.8rem;
    padding: .6rem 1rem;
    background-color: transparent;
    margin-bottom: 1.5rem;
    outline: none;
  }
  input:focus {
      border: 1px solid var(--main-color);
  }

</style>
