<template>
  <div>
    <label for="company-cif">{{ labels.companyCif }}</label>
    <input  id="company-cif"
            name="company-cif"
            type="text"
            v-on:keyup="emitSignal"
            v-model="values.companyCif"
            v-bind:class="{ error: !isValidCif}"
            >
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'company-cif',

  props: ['labels', 'values', 'isValidCif'],

  methods: {

    emitSignal(){
      Bus.publish('changed.company.cif')
    }
  }
}
</script>

<style scoped>
  input::placeholder {
    text-align: right;
    font-size: 2em;
    color: var(--error-color);
    line-height: 1.4em;
  }
  input::-webkit-input-placeholder {
    position: relative;
    top: 12px;
  }
</style>
