:root {
  --main-color: #35cebe;
  --warning-color: #f4cd4a;
  --error-color: #fc4660;
  --success-color: #aee460;
  --grey-color: #888888;
  --light-grey-color: #cac8c8;
}


/**{
  transition: all 1s ease-in-out;
}*/

#solicitude .solicitude-form, fieldset {
  margin-bottom: 0;
}

.box {
  border-right: 1.5px dashed #eee;
}

.card-title h2 {
  font-size: 2em;
}

.subtitle-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.subtitle-item {
  padding: 0.4em 0em 0em 0.1em;
  height: 12.5em;
}

.subtitle {

  font-size: 1.8rem;
  font-weight: bold;
}

.subtitle + div  {
  padding-top: 1em;
  font-size: 1.5rem;
  font-style: italic;
}

.message-hidden {
  opacity: 0;
  padding: 0px 0px;
  margin-bottom: 0px;
}

.button-inline {
  margin-top: 15px;
  margin-left: 7px;
  display: inline-block;
}

.list-button {
  text-align: center !important;
}

tbody tr:hover {
  background-color: rgb(239, 239, 239);
}

tbody tr td:hover {
  cursor: auto;
}

.alert {
  margin-top: 15px;
}

.alert-label {
  padding: 10px 20px;
  border-radius: .5rem;
  margin-bottom: 20px;
  color: #fff;
  background-color: #888;
  font-size: 15px;
}

.alert-involved{
  padding: 10px 20px;
}

.discardCard {
  animation-name: discardCard;
  animation-duration: 1.5s;
}

.closedSubject {
  color: #999;
}

header.navbar div.row {
  height: inherit;
}

.navbar .navbar-links > * {
  color: #fff;
  display: block;
  border-radius: 2px;
}

.link {
 line-height: 3em;
}

.link:hover{
  background-color: #3de3d2;
  color: #fff;
}

#links{
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
}

#links a {
  display: block;
  padding: 0em 0.6em;
  color: #f9f9f9;
}



@keyframes discardCard {
  to {
    margin-left: 2500px;
    margin-right: -2500px;
  }
}

.submitCard {
  animation-name: submitCard;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
}

@keyframes submitCard {
  to {
    margin-top: -2500px;
  }
}

.messageSent {
  animation-name: messageSent;
  animation-duration: 0.5s;
}

@keyframes messageSent {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.error {
  border: 1px solid var(--error-color) !important;
}

textarea{
  min-height: 200px;
  width: 100%;
}

span:first-child {
  font-size: 1.5em;
  color: var(--error-color);
}

.card-title {
  padding: 15px 0px;
}

label {
  margin-top: 1em;
}

label.fa.fa-warning {
    color: var(--warning-color);
}

.red {
  color: red;
}
