<template>
  <div>
    <label for="subjects-project">{{labels.project}}</label>
    <basic-select id="subjects-project"
                  :options="projectsCatalog"
                  :selected-option="values.project"
                  @select="onSelect"
                  v-model="values.project"
                  >
    </basic-select>
  </div>
</template>

<script>
  import { BasicSelect } from 'vue-search-select'
  import { Bus } from '../../../bus'

  export default {
    name: 'subject-project',
    props: ['labels', 'values', 'projectsCatalog'],
    methods: {
      onSelect (item) {
        this.values.project = item
        Bus.publish("changed.subject")
      },
      reset () {
        this.item = {}
      },
      selectOption () {
        this.item = this.options[0]
      }
    },
    components: {
      BasicSelect
    }
  }
</script>
<style>
  .ui.selection.dropdown .menu > .item {
    font-size: 1.5rem !important;
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown .menu {
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown:hover {
    border-color: #eee !important;
  }
</style>
