<template>
  <div>
    <label for="subjects-topics">{{ labels.topics }}<span>*</span>
      <label  v-if="!values.selectedTopics.length > 0"
              class="fa fa-warning"
              :title="labels.required"
              :alt="labels.required">
      </label>
    <a target="_blank"
      title="Sugerir cambios a la lista de Temas de este campo"
      href="https://docs.google.com/forms/d/e/1FAIpQLSeKB56FAI_UyEBZQhmVNDVKSQUOaiUc0RYqxnyiAmR_fE1_ww/viewform">
      {{ labels.suggestChanges }}
    </a>
    </label>
    <span>{{labels.requiredText}}</span>
      <multi-select :options="filteredCatalog"
                    :selected-options="values.selectedTopics"
                    id="subjects-topics"
                    @select="onSelect"
                    v-model="values.selectedTopics">
      </multi-select>
  </div>
</template>

<script>
  import { MultiSelect } from 'vue-search-select'
  import { Bus } from '../../../bus'

  export default {
    name: 'subject-topics',
    props: ['labels', 'values', 'topicsCatalog', 'isSubmittable'],
    computed: {
        filteredCatalog: function(){
            return this.topicsCatalog
        }
    },
    methods:{
      onSelect (items, lastSelectItem) {
        this.values.selectedTopics = items
        this.emitSignal()
      },

      emitSignal(){
        Bus.publish('changed.subject')
      }
    },
    components: {
      MultiSelect
    }
  }
  </script>

  <style>
    i.icon {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    i.icon.delete:before {
      content: "\f00d";
    }
    .ui.selection.dropdown .menu > .item {
      font-size: 1.5rem !important;
      border-color: #eee !important;
    }
    .ui.selection.active.dropdown .menu {
      border-color: #eee !important;
    }
    .ui.selection.active.dropdown:hover {
      border-color: #eee !important;
    }
    span {
      padding-top: 1em;
      font-size: 1.5rem;
      font-style: italic;
    }
  </style>
