<template>
  <div>
    <a  id="delete-subject"
      name="delete-subject"
      class="discardbutton button-clear list-button"
      v-on:click="deleteSubject">
    {{labels.deleteSubject}}
  </a>
</div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'subject-button-delete',

  props: ['labels', 'values', 'subjectId'],

  methods: {
    deleteSubject(event) {
      Bus.publish('clicked.delete.subject', this.subjectId)
    }
  }
}
</script>

<style scoped>

</style>
