<template>
  <div class="button-inline">
    <button type="button"
            id="close-modal"
            :disabled="!isSubmittable"
            v-on:click="openCloseSubjectModal()"
            >
            {{labels.closeCounseling}}
    </button>

    <template>
      <transition class="modal" v-if="showCloseSubjectModal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="card-title">
                <h2>{{labels.closeCounseling}}</h2>
              </div>
              <div class="modal-body">
                <subject-reason :labels="labels"
                                :values="values"
                                :reasons-catalog="reasonsCatalog">
                </subject-reason>
                <subject-comments :labels="labels"
                                  :values="values">
                </subject-comments>
                <subject-button-close :labels="labels"
                                      :values="values"
                                      :isEditionMode="isEditionMode">
                </subject-button-close>
                <a v-on:click="closeModal()">
                  {{labels.discard}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </template>
  </div>
</template>

<script>
  import ButtonCloseSubject from './subject-button-close'
  import AsesoraSubjectReason from './subject-reason'
  import AsesoraSubjectComents from './subject-comments'
  import { Bus } from '../../../bus'


  export default {
    name: 'subject-close-modal-open',

    props: ['labels', 'values', 'reasonsCatalog', 'isEditionMode', 'showCloseSubjectModal', 'isSubmittable'],

    components:{
      "subject-button-close": ButtonCloseSubject,
      "subject-reason": AsesoraSubjectReason,
      "subject-comments": AsesoraSubjectComents
    },
    methods: {
      openCloseSubjectModal(){
        this.showCloseSubjectModal = true
      },

      closeModal(){
        Bus.publish('clicked.discard.close.subject')
        this.showCloseSubjectModal = false
      }
    }
  }
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  margin: auto;
  padding: 2em;
  background-color: #fff;
  border-radius: 2px;
  width: 50%;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-body {
  margin: 20px 0;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
