<template>
    <div>
      <div>
        <label for="date">{{labels.created}}
          <label  v-if="!values.date"
                  :title="labels.required"
                  :alt="labels.required">
          </label>
        </label>
      </div>
      <input  id="date"
              type="date"
              v-model="getDate"
              v-on:change="dateChange"
              >
      <div>
        <label for="createdTime">{{labels.createdTime}}
        </label>
      </div>
      <input  id="createdTime"
              type="time"
              v-model="values.createdTime"
              v-on:change="timeChange"
              >
    </div>
</template>
<script>
import { Bus } from '../../../bus'

export default {
  name: 'subject-date',
  props: ['labels', 'values'],
  computed: {
    getDate: function () {
      let date = this.values.created

      if(date == ''){
        let year = new Date().getFullYear()
        let month = ("0"+(new Date().getMonth()+1)).slice(-2)
        let day = ("0"+new Date().getDate()).slice(-2)
        date = year + '-' + month + '-' + day

        this.values.created = date
      }
      return date
    }
  },
  methods: {
    dateChange(event){
      this.values.created = event.target.value
      this.emitSignal(event)
    },
    timeChange(event){
      this.values.createdTime = event.target.value
      this.emitSignal(event)
    },

    emitSignal(event) {
      Bus.publish('changed.subject')
    }
  }
}
</script>
<style scoped>
  input[type="date"],input[type="time"] {
    border: 0.1rem solid var(--light-grey-color);
    border-radius: .4rem;
    box-shadow: none;
    height: 3.8rem;
    padding: .6rem 1rem;
    background-color: transparent;
    margin-bottom: 1.5rem;
    outline: none;
  }
  input:focus {
      border: 1px solid var(--main-color);
  }

</style>
