<template>
  <div id='subjects-list'>
    <div class="card-title">
      <h2>{{labels.subjectsList}}</h2>
    </div>
    <table>
      <thead>
        <tr v-if="values.subjects.length > 0">
          <th>{{ labels.createdAt }}</th>
          <th>{{ labels.closedSubject}}</th>
          <th>{{ labels.project }}</th>
          <th>{{ labels.topics }}</th>
          <th>{{ labels.register }}</th>
          <th>{{ labels.isJustified }}</th>
          <th>{{ labels.hasAttachments }}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in values.subjects" id="subject">
          <td>{{ item.created | es }}</td>
          <td>{{ item.closed }}</td>
          <td>{{ item.project.value }}</td>
          <td>{{ formatedTopics(item.topics) }}</td>
          <td :title='infoRegisterLabels()'
              :alt="labels.registerInfoA">
            {{ translateRecord(item) }}<br><b>{{ translateRecordClosed(item) }}</b></br></td>
          <td>
            <template v-if="isSubjectJustified(item)">
              <span id="check"
                    class="fa fa-check fa-2"
                    :title="labels.subjectCheck"
                    :alt="labels.subjectCheck">
              </span>
            </template>
            <template v-else>
              <label  class="fa fa-warning"
                      :title="labels.subjectWarning"
                      :alt="labels.subjectWarning"
              ></label>
            </template>
          </td>
          <td>
            <template v-if="hasAttachments(item.files)">
              <label  id="clip"
                      class="fa fa-paperclip"
                      :title="labels.hasAttachments"
                      :alt="labels.hasattachments">
              </label>
            </template>
          </td>
          <td>
            <a class="solicitude-edit-button list-button"
              id="edit-subject"
              v-on:click="openEditSubjectModal(item)">
              {{ labels.edit }}
            </a>
          </td>
          <td>
            <a class="discardbutton button-clear list-button"
              id="delete-subject"
              v-on:click="deleteSubject(item)">
              {{ labels.deleteSubject}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <button-add-subject id="add-subject-button"
                        :label="labels.addSubject"
                        eventName="clicked.add.subject">
    </button-add-subject>
    <subject-edit-modal v-if="showSubjectEditModal"
                        :labels="labels"
                        :values="values"
                        :topics-catalog="topicsCatalog"
                        :proposals-catalog="proposalsCatalog"
                        :isSubmittable="isSubmittable"
                        :edition-subject="editionSubject"
                        :isEditionMode="isEditionMode"
                        :reasons-catalog="reasonsCatalog"
                        :warning-subject="warningSubject"
                        :projects-catalog="projectsCatalog"
                        >
    </subject-edit-modal>
  </div>
</template>

<script>
  import SubjectEditionView from './subject-edition'
  import SubjectEditModalView from './subject-edit-modal'
  import CustomButton from '../../custom-button'
  import { Bus } from '../../../bus'
  import isEmpty from '../../../lib/isEmpty'


  export default {
    name: 'subject-solicitude',

    filters: {
      es: function (date_en) {
        if (date_en === undefined) { return date_en }
        const date_parts = date_en.split('-')
        return date_parts.reverse().join('/')
      }
    },

    props: ['labels', 'values', 'topicsCatalog', 'proposalsCatalog',
            'editionSubject', 'modifiedSubjectId', 'isSubmittable',
            'isEditionMode', 'reasonsCatalog', 'warningSubject',
            'projectsCatalog', 'owner', 'downloadUrl', 'showSubjectEditModal'],

    components: {
      "subject-edition" : SubjectEditionView,
      "subject-edit-modal": SubjectEditModalView,
      "button-add-subject" : CustomButton
    },

    methods: {
      isSubjectJustified(item) {
        return (!isEmpty(item.topics)  &&
                !isEmpty(item.proposal) )
      },

      hasAttachments(files) {
        return files.length > 0
      },

      openEditSubjectModal(item){
        if(!this.isEditionMode) {
          Bus.publish('clicked.stored.subject.list', item )
        } else {
          Bus.publish('clicked.subject.list', { detail: item })
        }
      },

      deleteSubject(item) {
        Bus.publish('clicked.delete.unsaved.subject', item)
      },

      formatedTopics(topics){
        if (topics.length == 0) return "n/a"
        if (topics.length == 1) return topics[0].name
        if (topics.length > 1) return topics[0].name + " ..."
      },

      translateRecord(item){
        let result = ""
        if (item.analysis != "") result += "A "
        if (item.proposal.length > 0) result +="P"
        if (item.proposal != "") result +="P"
        return result
      },

      translateRecordClosed(item){
        let result = ""
        if (item.closed != null) result +="C"
        return result
      },

      infoRegisterLabels() {
        return this.labels.registerInfoA + "\n" + this.labels.registerInfoD + "\n" + this.labels.registerInfoP + "\n" + this.labels.registerInfoC
      },

      isFilled(value){
        if (!value){ return false }
        return value.length > 0
      },

      isClosed(item){
        if (item.closed !== null){ return true }
        return false
      },

      isListEmpty(list){
        if (!list){ return true }
        return list.length == 0
      },

      isNotEmpty(project) {
        if (project == null || Object.keys(project).length == 0){
          return false
        }
        return true
      }
    }
  }
</script>
<style>
  #check {
    color: #35cebe;
  }

  a {
    cursor: pointer;
    font-weight: bold;
  }

  .ui.selection.dropdown .menu > .item {
    font-size: 1.5rem !important;
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown .menu {
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown:hover {
    border-color: #eee !important;
  }
</style>
