<template>
  <div class="button-inline">
    <button  id="modify-counseling"
            type="button"
            name="submit"
            class="submitbutton"
            :title="showWarningIfNotJustifiable()"
            :disabled="!isSubmittable"
            v-on:click="modifyCounseling()">
            {{ labels.modifySubject }}
            <label  v-if="warningSubject"
                    class="fa fa-warning">
            </label>
    </button>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'subject-button-modify',

  props: ['labels', 'values', 'isSubmittable', 'warningSubject', 'isEditionMode'],

  methods: {
    showWarningIfNotJustifiable(){
      if(this.warningSubject){
        return this.labels.notJustifiable
      }
      return ""
    },

    modifyCounseling(event) {
      this.isSubmittable = false
      const detail = {
        subjectId: this.values.subjectId,
        solicitudeId: this.values.id,
        proposals: this.values.proposals,
        description: this.values.description,
        analysis: this.values.analysis,
        topics: this.values.selectedTopics,
        comments: this.values.comments,
        reason: this.values.reason,
        closed: this.values.closed,
        created: this.values.created,
        createdTime: this.values.createdTime,
        project: this.values.project,
        numeration: this.values.numeration,
        files: this.values.files
      }

      if(!this.isEditionMode) {
        Bus.publish('clicked.modify.subject', detail)
      } else {
        Bus.publish('clicked.modify.counseling', { detail })
      }
      this.values.files = []
    }
  }
}
</script>

<style scoped>
</style>
