<template>
  <div class="button-inline">
    <button  id="remove-subject-closed-status"
            type="button"
            name="submit"
            class="submitbutton"
            v-on:click="removeClosedStatus()">
            {{ labels.removeSubjectClosedStatus }}
    </button>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'remove-subject-closed-status',

  props: ['labels', 'values'],

  methods: {
    removeClosedStatus(event) {
      const detail = {
        subjectId: this.values.subjectId,
      }
      Bus.publish('clicked.remove.subject.closed.status', { detail })
    }
  }
}
</script>

<style scoped>
</style>
