<template>
  <div>
    <label for="email">{{ labels.applicantEmail }}<span>*</span></label>
    <input  id="email"
            name="email"
            type="text"
            v-on:focus="focus"
            v-on:change="onKeyup($event.target.value)"
            v-model="values.applicantEmail"
            >
      <div id="contact-email" v-if="!isValidEmail">
        <div class="alert background-danger">
          <em class="fa fa-times-circle"></em>
          {{ labels.errorEmail }}
      </div>
    </div>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'applicant-email',

  props: ['labels', 'values', 'isValidEmail'],

  methods: {

    onKeyup(email){
      Bus.publish("changed.email", { detail: email });
      this.refreshSuggestion()
    },

    refreshSuggestion() {
      Bus.publish("changed.applicant.fields", { detail: email });
    },

    focus(event){
      event.target.classList.remove("error")
    },

  }
}
</script>

<style scoped>
  .error {
    border: 1px solid var(--error-color) !important;
  }
</style>
