 <template>
  <div>
    <applicant-phone :values="values"
                   :labels="labels" :is-valid-phone="isValidPhone"
                   ></applicant-phone>
    <applicant-email :values="values"
                   :labels="labels" :is-valid-email="isValidEmail"
                   ></applicant-email>
  </div>
</template>

<script>
import EmailView from './applicant-email'
import PhoneView from './applicant-phone'

export default {
  name: 'applicant-contact',

  props: ['labels', 'values', 'isEditionMode', 'isValidContact', 'isValidPhone', 'isValidEmail'],

  components: {
    "applicant-email" : EmailView,
    "applicant-phone" : PhoneView
  },

  methods: {
    showMessage() {
      let emailLength = this.values.applicantEmail.length
      let phoneLength = this.values.applicantPhonenumber.length
      if ( (emailLength == 0) && (phoneLength == 0) ){
        return false
      }
      return !this.isValidContact
    }
  }
}
</script>
